.navbar
{
	margin-bottom: 0;

	img {
		vertical-align: top;
	}
}
.navbar-form
{
	float: none !important;
	display: inline-block;
	width: 30%;
	border: 0;
box-shadow: none;

}
 .navbar-form input
	{
		width: 100% !important;
	}