<html ng-app="." ng-controller="appController">
<head>
	<title ng-bind="appName"></title>
	<link rel="stylesheet" type="text/css" href="resource/fonts/fontello/css/fontello.css">
	<script type="text/javascript">
	window.youtubeReady = false;
	window.googleApiClientReady=function(){
		youtubeReady=true;
	}
	window.playerReady=false;
	window.onYouTubeIframeAPIReady=function() {
		playerReady=true;
		
	}
	</script>
	<script src="//apis.google.com/js/client.js?onload=googleApiClientReady"></script>
	<script src="https://www.youtube.com/iframe_api"></script>
</head>
<body>
	<app-view></app-view>
	<div class="placeholder" ng-hide="appReady">
		<img src="resource/images/logo.png">
		<div ng-if="needAuth">
		<p>Jiggyape now requires you to login this app using your google account.<br><br>
			This is due to changes in Youtubes API. <br><br><b>Jiggyape is still free!</b>
		</p>
		<button class="btn btn-default" ng-click="onAuthClick()">Login with Google</button>
		<a href="https://accounts.google.com/SignUp">sign up</a>
	</div>
	</div>
</body>
</html>